.component {
    margin-top: 35px;
    color:#ffffff;
    font-size: 24px;

}


.error {
    margin: 0 auto;
    font-family: sans-serif;
    color: white;
    font-size: 28px;
}

.icon {
    margin-top: 100px;
    font-size: 150px;
    color: white;
}

