.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.form__search {
    font-size: 24px;
    color: white;
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;
    border: 1px solid #ffffff;
    padding: 0 10px;
    background: none;

}

.form__search::placeholder {
    font-size: 20px;
    color: #ecf0f1;
}

.form__btn {
    border: none;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    width: 50px;
    height: 50px;
    background: #00d8d6;
    text-transform: uppercase;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

