.info {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 110px;
    color: #ffffff;
    font-size: 24px;
}



.info_text:nth-child(2) {
    font-size: 110px;
    margin-bottom: 15px;
}


.info_line {
    margin: 30px 0;
    width: 100px;
    height: 1px;
    background: white;
}


.error {
    font-family: sans-serif;
    color: white;
    font-size: 28px;
}

.icon {
    margin-top: 100px;
    font-size: 150px;
    color: white;
}



.info_icon {
    font-size: 28px;
    margin-right: 5px;
}

.info_group {
    display: flex;
    align-items: center;
    font-size: 28px;
}

.weatherIcon {
    font-size: 90px;
}