.hamburger_trigger {
    position: absolute;
    left: 10px;
    color: #2c3e50;
    z-index: 2;
    font-size: 40px;
    display: flex;
    align-items: flex-start;
}

.nav {
    position: absolute;
    top: 0;
    left: -100%;
    display: flex;
    height: 110vh;
    width: 260px;
    background: rgba(236, 240, 241, 0.8);
    transition: linear 0.3s;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    box-sizing:  border-box;
    list-style-type: none;
    z-index: 1;
}

.link {
    color: #2c3e50;
    font-size: 22px;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
}

.link:hover {
    transition: 0.5s;
}









