@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic-ext');

ul, li {
    margin: 0;
}

.wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(39,199,171,1) 0%, rgba(70,143,197,1) 90% );
}
.container {
    padding: 15px;
    margin: 0 auto;
    max-width: 1024px;
    text-align: center;
}


